[submodule "js/gh3"]
	path = js/gh3
	url = https://www.github.com/jbohren-forks/gh3.git
[submodule "js/underscore"]
	path = js/underscore
	url = https://www.github.com/jashkenas/underscore.git
[submodule "js/jquery-cookie"]
	path = js/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
