<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

          <table>
            <tr>
              <td>
                <p class="c2 c3"><span class="c8 c10">ar&middot;dor</span><span class="c6">&nbsp; &nbsp;</span><span class="c13 c8 c12">/</span><span class="c8 c13">&#712;&auml;rd&#601;r/</span></p><p class="c2 c3"><span class="c8 c9">noun:</span></p><p class="c2 c7"><span class="c8 c12">enthusiasm or passion.</span></p><p class="c2 c7"><span class="c8">&quot;they felt the stirrings of revolutionary ardor&quot;</span></p><p class="c2 c7"><span class="c8">synonyms:</span><span class="c8">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="c8">passion, fervor, zeal, vehemence, intensity, verve, fire, emotion...</span></p><p class="c1"><span></span></p>
              </td>
            </tr>
          </table>

        <br><br>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
