<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h2>{{site.data.groups[page.group_id].institution}}</h2>
        <h1>{{site.data.groups[page.group_id].name}}</h1>

        <h3>Officers:</h3>
        <ul>
          <li>President: <a class="gh_user" gh_uid="{{site.data.groups[page.group_id].president}}"></a></li>
          <li>Treasurer: <a class="gh_user" gh_uid="{{site.data.groups[page.group_id].treasurer}}"></a></li>
          <li>Triage Coordinator: <a class="gh_user" gh_uid="{{site.data.groups[page.group_id].triager}}"></a></li>
          <li>Maintenance Coordinator: <a class="gh_user" gh_uid="{{site.data.groups[page.group_id].maintainer}}"></a></li>
        </ul>
        <h3>Maintained:</h3>
        <ul>
          {% for proj in site.data.group[page.group_id].maintained %}
          <li class="proj" id="{{proj.ns}}/{{proj.name}}" ns="{{proj.ns}}" name="{{proj.name}}">
          <a href="http://github.com/{{proj.ns}}/{{proj.name}}">{{ proj.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <h3>Forked:</h3>
        <ul>
          {% for proj in site.data.group[page.group_id].forked %}
          <li class="proj" id="{{proj.ns}}/{{proj.name}}" ns="{{proj.ns}}" name="{{proj.name}}">
          <a href="http://github.com/{{proj.ns}}/{{proj.name}}">{{ proj.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <h3>Abandoned:</h3>
        <ul>
          {% for proj in site.data.group[page.group_id].abandoned %}
          <li class="proj" id="{{proj.ns}}/{{proj.name}}" ns="{{proj.ns}}" name="{{proj.name}}">
          <a href="http://github.com/{{proj.ns}}/{{proj.name}}">{{ proj.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
<script>

// Gray things out while they load
$(document).bind("ajaxSend", function(evt, req, settings){
  //console.log(req);
}).bind("ajaxComplete", function(){
  $(".page-content").fadeTo("slow",1.0);
});

$(document).ready(function() {
                  $(".page-content").fadeTo(0.0,0.2);
                  //var github = new Github();
                  $(".gh_user").each(
                      function() {
                        var ns = $(this).attr("gh_uid");
                        var user_tag = $(this);

                        var gh_user = new Gh3.User(ns); // You need a user first
                        gh_user.fetch(function(err, res) {
                          if(err) { throw "outch ..." }
                          //console.log(res);
                          //tag = $("[gh_uid='"+ns+"']");
                          user_tag.append(res.name);
                          user_tag.attr('href','http://github.com/'+res.login);
                        });
                    });

                  $(".proj").each(
                      function() {
                        var ns = $(this).attr("ns");
                        var name = $(this).attr("name"); 

                        /**
                        var repo = github.getRepo( ns, name);
                        var pulls = repo.listPulls(
                            function(_, pulls) {
                              alert(pulls.length)
                            });
                        **/

                        var gh_user = new Gh3.User(ns); // You need a user first
                        var gh_repo = new Gh3.Repository(name, gh_user);

                        gh_repo.fetch(
                            function (err, res) {
                              if(err) { throw "outch ..." }
                              console.log("------");
                              console.log(res);
                              if(res.fork) {
                                console.log("it's a fork...");
                                console.log(res.parent.full_name);
                                // look for open PRs against the parent
                                console.log(res.parent.owner.login)
                                var parent_user = new Gh3.User(res.parent.owner.login); // You need a user first
                                var parent_repo = new Gh3.Repository(res.parent.name, parent_user);
                                if(0) {
                                  parent_repo.fetchIssues(
                                    function (err, res) {
                                      if(err) { throw "outch ..." }
                                      var n_issues = res.issues.length;
                                      console.log(res.name+' n_issues: '+n_issues);
                                      console.log(res);
                                      for(var i in res.issues) {
                                        var issue = res.issues[i];
                                        if ("pull_request" in issue) {
                                          console.log('pr: ');
                                          console.log(issue);
                                        }
                                      }
                                    });
                                }
                                // get pull requests
                                parent_repo.fetchPulls(
                                  function (err, res) {
                                    if(err) { throw "outch ..." }
                                    //console.log(res)
                                    for(var p in res.pulls) {
                                      var pull = res.pulls[p];
                                      if(typeof(pull.head.repo) === "undefined") {
                                        console.log("uknown head repo for PR");
                                        console.log(pull);
                                        continue;
                                      }
                                      var pull_name = pull.head.repo.name;
                                      var pull_owner = pull.head.repo.owner.login;
                                      if(pull_owner == ns && pull_name == name) {
                                        console.log('found pr from ardor repo: '+pull_owner+'/'+pull_name);
                                        console.log(pull)
                                        var selector = "#"+pull_owner+"\\/"+pull_name;
                                        console.log('selector: '+selector);
                                        $(selector).append(" ( pending pull request: <a href=\""+pull.html_url+"\">"+parent_repo.name+"#"+pull.number+"</a> ) ");
                                      }
                                    }
                                  });
                              }
                            });

                        gh_repo.fetchIssues(
                            function (err, res) {
                              if(err) { throw "outch ..." }
                              //console.log(res);
                              //console.log(res.name);
                              //console.log(res.user.login);
                              //console.log(res.full_name);
                              //console.log(JSON.stringify(res));
                              if('issues' in res) {
                                var n_issues = res.issues.length;
                                //console.log('issues: '+n_issues);
                                var issue_str = "issues";
                                if(n_issues == 1) {
                                  issue_str = "issue";
                                }

                                var selector = "#"+res.user.login+"\\/"+res.name;
                                //console.log('selector: '+selector);
                                if( n_issues > 0 ) {
                                  $(selector).append(" ( "+n_issues+" "+issue_str+" ) ");
                                }
                              }
                            });
                        /**
                        $( "<p>", {
                           "class": "my-new-list",
                           html: issues.length
                           }).appendTo( "#"+ns+"/"+name );
                        **/

                        });
                  })

                  /**
                  $(".pkg").getJSON( "/groups/groups.json", function( data ) {
                             //alert( "Load was performed." );
                             var items = [];
                             $.each( data.groups, function( index, g ) {
                                     items.push( "<li id='" + g.id + "'>" + g.institution + "</li>" );
                                     });

                             $( "<ul/>", {
                                "class": "my-new-list",
                                html: items.join( "" )
                                }).appendTo( "#groups" );
                             });
                  });**/
</script>

    {% include footer.html %}
  </body>

</html>
